<tl-info-page>
  <div header>
    <span class="text-2xl font-bold">About</span>
  </div>
  <div content>
    <div class="section">
      <div class="text-section">
        <h1>Who I Am</h1>
        <p class="leading-relaxed">
          Hi, my name is Marcel, and I’m currently pursuing my master’s degree at Graz University of Technology. As part
          of
          my
          thesis project, I wanted to combine two things I deeply enjoy: working with data and my passion for
          Formula&nbsp;1.
        </p>
      </div>
      <div class="title-section">
        <img class="avatar" ngSrc="images/avatar.jpg" alt="avatar" height="200" width="200">
      </div>
    </div>

    <p-divider class="divider"></p-divider>

    <div class="section">
      <div class="title-section">
        <h1 class="content-center">Why This Project</h1>
      </div>
      <div class="text-section">
        <p class="leading-relaxed">
          Formula&nbsp;1 has always fascinated me — not just the thrill of racing, but also the incredible depth of data
          and
          engineering behind every lap, corner, and decision. Modern races generate vast amounts of telemetry data, and
          I
          wanted to create a tool that makes this information accessible, engaging, and insightful for fans and
          researchers
          alike.
        </p>
      </div>
    </div>

    <p-divider class="divider"></p-divider>

    <div class="section">
      <div class="title-section">
        <h1 class="content-center">For Enthusiasts, <br /> By an Enthusiast</h1>
      </div>
      <div class="text-section">
        <p class="leading-relaxed">
          At its core, this project is built for people like me — F1 fans who love to go beyond the broadcast and
          uncover
          the
          numbers driving the sport. I hope this tool helps you gain new insights, spark discussions, and deepen your
          appreciation for the data-driven world of Formula&nbsp;1.
        </p>
      </div>
    </div>

    <p-divider class="divider"></p-divider>

    <div class="section">
      <div class="title-section">
        <h1 class="content-center">Links & Contact</h1>
      </div>
      <div class="text-section">
        <p class="leading-relaxed">
          If you’d like to connect, explore the code, or follow along with my work, here are some useful links:
        </p>
        <div class="flex items-start justify-around mt-8">
          <a href="https://github.com/marcel-zisser/TrackLab" target="_blank"
             class="flex flex-col items-center hover:scale-110 transition">
            <div
              class="w-12 h-12 flex items-center justify-center rounded-full border-4
                     text-gray-800 dark:text-white border-gray-800 dark:border-white">
              <i class="pi pi-github text-xl"></i>
            </div>
            <span class="mt-2 text-sm font-medium text-center">TrackLab <br /> Repository</span>
          </a>

          <a href="https://github.com/marcel-zisser" target="_blank"
             class="flex flex-col items-center hover:scale-110 transition">
            <div
              class="w-12 h-12 flex items-center justify-center rounded-full border-4
                     text-gray-800 dark:text-white border-gray-800 dark:border-white">
              <i class="pi pi-github text-xl"></i>
            </div>
            <span class="mt-2 text-sm font-medium">GitHub</span>
          </a>

          <a href="https://linkedin.com/in/marcel-zisser" target="_blank"
             class="flex flex-col items-center hover:scale-110 transition">
            <div class="w-12 h-12 flex items-center justify-center rounded-full text-blue-600 border-4 border-blue-600">
              <i class="pi pi-linkedin text-xl"></i>
            </div>
            <span class="mt-2 text-sm font-medium">LinkedIn</span>
          </a>
        </div>
      </div>
    </div>

    <div class="footer">
      <span>Made with <i [class]="PrimeIcons.HEART_FILL + ' text-red-500'"></i> in Austria, Graz.</span>
      <img class="rounded-md" ngSrc="/images/flag.svg" alt="Austrian Flag" height="16" width="30" />
    </div>
  </div>
</tl-info-page>
