<tl-info-page>
  <div header>
    <span class="text-2xl font-bold">Acknowledgements</span>
  </div>
  <div content>
    <div>
      <div class="text-lg font-bold mb-2">FastF1 / theOehrly</div>
      <div>
        TrackLab makes use of the
        <a class="underline" href="https://docs.fastf1.dev/">FastF1</a>
        Python package for accessing Formula 1 data. I would like to sincerely thank theOehrly, the author and
        maintainer of
        FastF1, for the outstanding work in making high-quality Formula 1 data
        accessible to the community. The visualizations presented here would not be possible without their effort and
        dedication.
      </div>
    </div>

    <p-divider class="p-4"></p-divider>

    <div>
      <div class="text-lg font-bold mb-2">Graz University of Technology</div>
      <div>
        This project has been developed as part of my Master’s thesis at Graz University of Technology. I am
        deeply grateful for the supportive environment and the academic foundation provided by the university, which
        enabled me to pursue this work. The resources, expertise, and encouragement I have received throughout my
        studies at Graz University of Technology have been instrumental in bringing this project to completion.
      </div>
    </div>
  </div>
</tl-info-page>
